/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
/* 2. Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    background-color: purple;
    font-family: "Roboto";
    min-height: 100vh;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

:root {
    --side-margin-bottom: 20px;
    --main-color: rgb(201, 245, 255);
}


.wrapper {
    height: 100vh;
    display: grid;

    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.sidebar {
    background-color: var(--main-color);
    grid-area: sidebar;

    display: grid;
    align-content: start;
    justify-content: start;
    padding-left: 15px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar h1 {
    font-size: 32px;
    margin-top: 10px;
    padding-bottom: var(--side-margin-bottom);
}

.sidebar .menu, .sidebar .account-nav {
    margin-bottom: var(--side-margin-bottom);
    font-size: 16px;
    font-weight: bold;
}

.sidebar h1, .sidebar nav ul li {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar .symbol {
    justify-self: end;
}

.sidebar a {
    padding: 0 10px;
}

/* header information */
.main-header {
    background-color: rgb(193, 42, 42);
    grid-area: header;
    width: 100%;

    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48px 60px;
    grid-template-areas: 
    "search account"
    "banner buttons";
    padding: 15px 30px;
    gap: 10px 55px;
    box-shadow: rgb(179, 179, 179) 0px 4px 6px;
}

.search-container {
    grid-area: search;
    
}

.search-form {
    display: flex;
}

#search {
    appearance: none;
    width: 500px;
    margin-left: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(222, 230, 245);
    padding-left: 4px;
}

.account-info {
    grid-area: account;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.account-info img {
    height: 40px;
    width: 40px;
}

.account-name {
    font-weight: 700;
}

.banner .account-name {
    font-size: 20px;
}
 
.h-child {
    align-self: center;
}

.banner {
    grid-area: banner;
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner img {
    height: 60px;
    width: 60px;
}

.banner-text .intro {
    font-size: 14px;
    font-weight: bold;
}

.post-buttons {
    grid-area: buttons;

    display: flex;
    justify-content: end;
    gap: 20px;
}

.post-buttons button {
    border: none;
    padding: 5px 25px;
    border-radius: 25px;
    background-color: var(--main-color);
}

/* Main Content */
.main-content {
    background-color: aquamarine;
    grid-area: main;
    z-index: -1;
}