/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
/* 2. Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    background-color: purple;
    font-family: "Roboto";
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

:root {
    --side-margin-bottom: 50px;
}


.wrapper {
    min-height: 100vh;
    display: grid;

    grid-template-rows: 1fr 4fr;
    grid-template-columns: 300px 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.main-content {
    background-color: aquamarine;
    grid-area: main;
}

.sidebar {
    background-color: rgb(201, 245, 255);
    grid-area: sidebar;

    display: grid;
    align-content: start;
    justify-content: start;
    padding-left: 15px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar h1 {
    font-size: 32px;
    margin-top: 10px;
    padding-bottom: var(--side-margin-bottom);
}

.sidebar .menu, .sidebar .account-nav {
    margin-bottom: var(--side-margin-bottom);
    font-size: 23px;
}

.sidebar h1, .sidebar nav ul li {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar .symbol {
    justify-self: end;
}

.sidebar a {
    padding: 0 10px;
}

.main-header {
    background-color: brown;
    grid-area: header;
}

/* header information */
.header-container {
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 70px;
    grid-template-areas: 
    "search account"
    "banner buttons";
    padding: 15px 30px;
    gap: 10px 55px;
}

.search-container {
    grid-area: search;
    background-color: yellow;
}

.search-form {
    display: flex;
}

#search {
    appearance: none;
    width: 400px;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    padding-left: 4px;
}

.account-info {
    grid-area: account;
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: end;
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
}

.account-info img {
    height: 50px;
    width: 50px;
}

.h-child {
    /* height: 50px; */
    align-self: center;
}

.banner {
    grid-area: banner;
    background-color: yellow;
    display: flex;
    align-items: center;
    gap: 9px;
}

.banner img {
    height: 70px;
    width: 70px;
}


.post-buttons {
    grid-area: buttons;
    background-color: yellow;
}